Images
Videos
Images.zip
Videos.zip
trained_models
trained_models_vit
*.pth
logs
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
test_job.sh
logs_test
job.sh
logs_dl
trained_models_vit
trained_models_swin
trained_models_dinov2