Images
Videos
Images.zip
Videos.zip
trained_models
trained_models_vit
*.pth
logs
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
test_job.sh
logs_test
job.sh
logs_dl
logs_val_data_leakage
trained_models_vit
trained_models_swin
trained_models_dinov2
experiments
test_logs
logs_vit
logs_dinov2
logs_swin
*.pt
dog_data.yaml
yolo_dataset
runs
logs_final
final_models
find_params.py
param_description.md
get_supplement.py
sampled_dataset
dataset_description.md
csv_construct.md
test_logs_OLD
det_job.sh
logs_det
logs_final_old
logs_final_o
test_logs_o
params.md