Images
Videos
Images.zip
Videos.zip
trained_models
trained_models_vit
*.pth
logs
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
test_job.sh
logs_test
job.sh
logs_dl
logs_val_data_leakage
trained_models_vit
trained_models_swin
trained_models_dinov2
experiments
test_logs
logs_vit
logs_swin
logs_dinov2
yolov8n.pt
*.pt
runs
yolo_dataset
dog_data.yaml